*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
form{
    width: 100%;
    height: auto;
}
.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav_item{
    font-size: 18px;
    
}
.container{
    display: flex;
    height: auto;
    width: 100%;
}
.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
}
.hero img{
    height: auto;
    width: 100%;
}

.hero h1{
    color: rgb(223, 23, 23);
}
.hero p{
    font-family: cursive;
}
button{
    height: auto;
    width: 100%;
}
.btn1{
    height: 65px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #a5410f;
    width: 450px;
    color: wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about{
    background-image: url(fabio-oyXis2kALVg-unsplash.jpg);
    height: 900px;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f4f4f4;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.us{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.about h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 18px;
    /* margin-left: 680px; */
    margin-top: -100px;
}
.about p{
    margin-left: 20px;
    margin-right: 20px;

}
.btn1:hover{
    background-color: wheat;
    color: #a5410f;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.servicehead{
    height: 80px;
    width: 100%;
    background-color: #F79489;
    color: #000C66;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
 
}
.cards{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 15px;

}
.cardbody{
    
        background-size: contain;


}
.cardhead{
    width: 100%;
    height: 65px;
    background-color: #F79489;

}
.cardbody img{
    width: 100%;
    height: 100%;    
}
.carddetail1{
    height: 300px;
    width: 450px;
}
.carddetail2{
    height: 300px;
    width: 450px;
}
.carddetail3{
    height: 300px;
    width: 450px;
}
.cardbody img:hover{
    animation: pulse;
    animation-duration: 2s;

}
@keyframes pulse {
    from{
        height: 300px;
        width: 450px;
    }
    to{
        height: 360px;
        width: 540px;

    }
}
.portfoliohead{
    height: 80px;
    width: 100%;
    background-color:#050A30;
    color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    height: 100%;
    width: 100%;
}
.port_pic{
   
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
    ;
    align-items: center;
    flex-direction: row;


}

.ppic{
    width: 200px;
    height: auto;
        
}

    

.para{
    background-color: #EFE7BC;
    padding-top: 150px;
    padding-right: 12px;
    padding-bottom: 50px;
    
}

.theory{
    font-size: 17px;
    padding-left: 10px;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(back.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    
}
.content{
    max-width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: blue;
    -webkit-text-stroke: 0.7px white;
}
.contact .content p{
    font-weight: 300;
    color:rgb(205, 251, 1);
}
 .container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    height: auto;
    width: 100%;
}
.box{
    width: 100%;
    height: auto;
}
.box p{
    width: 100%;
    height: auto;
}
.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container1 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 19px;
   flex-wrap: wrap;
    flex-direction: column;
    font-weight: 300;
}
.container1 .contactInfo .box p{
    color:rgb(205, 251, 1);
    -webkit-text-stroke: 0.03px white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container1 .contactInfo .box .text h3{
    font-weight: 600;
    counter-reset:#00bcd4;
    -webkit-text-stroke: 1.9px navy;
    font-family: sans-serif;
    color: yellow;
    font-size: 30px;

}
.contactForm {
    min-width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
} .contactForm .inputBox span{
    position: relative;
    height: auto;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
#send{
    height: auto;
    width: 100%;
}
.contactForm .inputBox input:focus ~span,
.contactForm .inputBox input:valid ~span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    height: auto;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.inputBox button{
    
    width: 100px;
    height: auto;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


@media (max-width:991px){
    .contact{
        padding: 50px;
            }
            .container1{
                flex-direction: column;
            }
            .container1 .contactInfo .contactForm{
                margin-bottom: 40px;
                width: 100%;
            }
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: yellow;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #202020;
    background-color: yellow;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 450;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;

}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
footer{
    height: 20px;
    background-color: #EFE7BC;
    color: #000C66;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#testimonials{
    background-image: url(jj-ying-8bghKxNU1j0-unsplash.jpg);
    background-size: cover;
}
